{% load static %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-1 align-self-sm-center">
      <nav class="navbar " aria-expanded="false">
        <!--Whatsapp-->
        <a class="nav-item " href="https://wa.me/79957940311">
          <img src="{% static 'img/footer/icon-whatsapp-40.png' %} ">
        </a>
        <!--Telegram-->
        <a class="nav-item " href="https://t.me/VIcargo">
          <img src="{% static 'img/footer/icon-telegram-40.png' %} ">
        </a>

      </nav>
      <!--Instagram-->

    </div>
  </div>
</div>
<div class="container-fluid">
  <p style="color: white">© {{ year }} Copyright <span>
    Very Important Cargo</span></p>
</div>
