{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand p-0 me-2" href="{% url 'web:web_main' %}">
      <img
              src="{% static 'img/plane_logo.png' %}"
              width="280"
              height="110"
              class="d-inline-block align-top"
              alt=""
      >
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link "
             href="{% url 'web:web_main' %}" title="Главная">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "
             href="{% url 'delivery:delivery' %}" title="Доставка">ДОСТАВКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'buyout:buyout_options' %}" title="Выкуп">ВЫКУП</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'search:suppliers_search' %}"
             title="Поиск поставщика">ПОИСК ПОСТАВЩИКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'packing:packing_options' %}"
             title="Упаковка">УПАКОВКА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'contacts:contacts' %}" title="Контакты">КОНТАКТЫ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'about:about_us' %}" title="О нас">О НАС</a>
        <li class="nav-item">
          <a class="nav-link "
             href="{% url 'web:web_main' %}#contact-form"
             title="Рассчитать">РАССЧИТАТЬ</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>