{% extends "base.html" %}
{% load static %}
{% block title %}VIC || О нас{% endblock %}
{% block content %}
<div class="about-page">
  <div class="container-fluid">
    <div class="row row-cols-lg-2">
      <div class="col-lg-6">
        <div class="about-heading">
          <h1 >о компании</h1>
        </div>
        <div class="about-description">
          <div class="container-fluid">
            <h5>
              Большой опыт компании «Very Important Cargo» <br>
              в сфере доставки грузов из Китая позволяет <br>
              нам осуществлять этот процесс быстро и <br>
              освобождать наших клиентов от множества <br>
              проблем и переживаний за сохранность и целостность грузов.<br>
              Сотрудники нашей компании – профессионалы в этой области,<br>
              поэтому мы можем гарантировать быструю доставку грузов и<br>
              адекватные цены на наши услуги.
            </h5>
          </div>

        </div>
        <div class="about-bottom" >
          <div class="container-fluid">
            <img class='bottom-logo' src="{% static 'img/plane_logo_3.png' %}">
          </div>

        </div>
      </div>
      <div class="right-side">
        <div class="container-fluid">
          <img class='ship' src="{% static 'img/ships/ship_1.png' %}">

      </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
