{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <h1>Наша команда</h1>
      <p>
        Большой опыт компании «Very Important Cargo» в сфере доставки грузов из
        Китая
        позволяет нам осуществлять этот процесс быстро и освобождать наших
        клиентов
        от
        множества проблем и переживаний за сохранность и целостность грузов.
        Сотрудники нашей компании – профессионалы в этой области,
        поэтому мы можем гарантировать быструю доставку грузов и адекватные цены
        на наши услуги.
      </p>
    </div>
    <div class="col-7">
      <img src="{% static 'img/ships/ship_1.png' %}">
    </div>


    {% endblock %}