{% extends 'base.html' %}
{% load static %}
{% block title %}
VIC || Авиадоставка
{% endblock %}
{% block content %}
<div class="avia-page">
  <div class="container-fluid">
    <div class="avia-top">
      <div class="row row-cols-auto">
        <h1 class="avia-header">АВИА</h1>
        <h1 class="avia-header-2">АВИАДОСТАВКА</h1>
        <div class="d-grid">
          <div class=dates-list>
            <div class="col m-1">
              <h3 class="dates">сроки доставки</h3>
              <ul>
                <li><span class="dates-li"><i
                        class="fa-solid fa-plane-lock"></i>
          </span>Стандарт 12-15 дней
                </li>
                <li><span class="dates-li"><i
                        class="fa-solid fa-plane-circle-check">
          </i></span>Экспресс 8-12 дней
                </li>
                <li><span class="dates-li"><i
                        class="fa-solid fa-jet-fighter-up"></i>
          </span>Экспресс 1-5 дней
                </li>
              </ul>
            </div>
          </div>
          <div class="advantages">
            <div class="col m-auto">
              <h2 class="advantages-aero-h">
                ПРЕИМУЩЕСТВА
              </h2>
              <ul class="fa-ul">
                <li class="fa-li"><span><i class="fa-solid fa-envelope"></i>
        </span>Отправка небольших партий товаров,<br> экземпляров, образцов
                </li>
                <li class="fa-li"><span>
                  <i class="fa-solid fa-boxes-packing"></i>
        </span>Отправка товара с особыми характеристиками:<br> хрупкость,
                  высокая стоимость, специфические свойства
                </li>
                <li class="fa-li"><span>
                  <i class="fa-solid fa-hourglass-start"></i>
        </span>Срочность
                </li>
                <li class="fa-li"><span><i class="fa-solid fa-dolly"></i>
        </span>Возможность отправки больших партий<br> в кратчайшие сроки
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="avia-mid">
      <div class="row-cols-auto">
        <h2 class="avia-description-h">
          особенности
        </h2>
        <div class="row row-cols-auto">
          <div class="avia-description">
            <div class="col m-auto">
              <p>Товары, для которых наиболее часто используются
                авиаперевозки:<br>
                запчасти, электроника, медицинские препараты, ценные
                и хрупкие предметы.<br>
                Случается, когда «горят» сроки, здесь способна помочь <br>
                авиа экспресс-доставка из Китая, которая может быть осуществлена
                за 1-5 дней.<br>
                Авиаперевозки имеют свои особенности. Груз должен
                соответствовать определённым требованиям.</p>
            </div>
            <div class="col m-auto">
              <p>Упаковка должна быть:<br>
              <ol>
              <li>Сухой</li>
              <li>Аккуратной</li>
              <li>Надёжно защищать товар</li>
              </ol>
              </p>
            </div>
            <div class="col m-auto">
              <p>К каждому случаю требуется индивидуальный подход, мы способны
              решить любые вопросы.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}