{% extends "base.html" %}
{% load static %}
{% block title %}
VIC || Доставка товара из Китая
{% endblock %}
{% block content %}
<div class="container">
  <div class="row row-cols-auto">
    <div class="col m-auto text-center">
      <a href="{% url 'delivery:air delivery' %}">
        <img src="{% static 'img/delivery/cargo_plane.png' %}">
      </a>
      <h1>АВИА</h1>
    </div>
    <div class="col m-auto text-center">
      <a href="{% url 'delivery:train delivery' %}">
        <img src="{% static 'img/delivery/cargo_train.png' %}">
      </a>
      <h1>Ж/Д</h1>
    </div>
  </div>
  <div class="row row-cols-auto">
    <div class="col m-auto text-center">
      <a href="{% url 'delivery:road delivery' %}">
        <img src="{% static 'img/delivery/cargo_truck.png' %}">
      </a>
      <h1>АВТО</h1>
    </div>
    <div class="col m-auto text-center">
      <a href="{% url 'delivery:ship delivery' %}">
        <img src="{% static 'img/delivery/cargo_ship.png' %}">
      </a>
      <h1>МОРЕ</h1>
    </div>
  </div>
</div>
{% endblock %}
