{% extends "base.html" %}
{% load static %}
{% block title %}
VIC || Доставка товара из Китая
{% endblock %}
{% block content %}
<div class="main_wrap">
  <div class="upper_row">
    <div class="row row-cols-auto">
      <div class="col m-auto">
        <h1>Выберите удобный<br>
          способ доставки</h1>
      </div>
    </div>
  </div>
  <div class="images">
    <div class="container-fluid">
      <div class="row row-cols-auto">
        <div class="col m-auto">
          <a href="{% url 'delivery:air delivery' %}">
            <img src="{% static 'img/delivery/cargo_plane.png' %}">
          </a>
          <h1 class="options">АВИА</h1>
        </div>
        <div class="col m-auto ">
          <a href="{% url 'delivery:train delivery' %}">
            <img src="{% static 'img/delivery/cargo_train.png' %}">
          </a>
          <h1 class="options">Ж/Д</h1>
        </div>
      </div>
      <div class="row row-cols-auto">
        <div class="col m-auto ">
          <a href="{% url 'delivery:road delivery' %}">
            <img src="{% static 'img/delivery/cargo_truck.png' %}">
          </a>
          <h1 class="options">АВТО</h1>
        </div>
        <div class="col m-auto ">
          <a href="{% url 'delivery:ship delivery' %}">
            <img src="{% static 'img/delivery/cargo_ship.png' %}">
          </a>
          <h1 class="options">МОРЕ</h1>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
