{% extends 'base.html' %}
{% load static %}
{% block title %}
VIC || Морская доставка
{% endblock %}
{% block content %}
<div class="ship-page">
  <div class="container-fluid">
    <div class="ship-top">
      <div class="row row-cols-auto">
        <h1 class="ship-header">МОРЕ</h1>
        <h1 class="ship-header-2">МОРСКАЯ ДОСТАВКА</h1>
        <div class="d-grid">
          <div class=dates-list>
            <div class="col m-1">
              <h3 class="dates">сроки доставки</h3>
              <ul>
                <li><span class="dates-li"><i class="fa-solid fa-ship"></i>
                </span>Стандарт 38-45 дней
                </li>
              </ul>
            </div>
          </div>
          <div class="advantages">
            <div class="col m-auto">
              <h2 class="advantages-ship-h">
                ПРЕИМУЩЕСТВА
              </h2>
              <ul class="fa-ul">
                <li class="fa-li"><span><i class="fa-solid fa-shield"></i>
                </span>Безопасная перевозка
                </li>
                <li class="fa-li"><span>
                  <i class="fa-solid fa-box"></i></span>
                  Возможность перевозить крупногабаритный товар<br>
                  в стоимость уже включены все таможенные пошлины и сборы
                </li>
                <li class="fa-li"><span><i class="fa-solid fa-boxes-stacked">

                </i>
        </span>Возможность перевозить большие партии
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ship-mid">
      <div class="row-cols-auto">
        <h2 class="ship-description-h">
          особенности
        </h2>
        <div class="row row-cols-auto">
          <div class="ship-description">
            <div class="col m-auto">
              <p>Морские грузоперевозки являются самым надежным способом
                доставки<br> груза из Китая. Доставка осуществляется с помощью
                больших судов,<br> загруженных контейнерами с товаром.</p>
            </div>
            <div class="col m-auto">
              <p>При отправке товара по морскому пути, <br>
                мы обязательно соблюдаем все правила перевозки. Выполняем
                морские перевозки<br> грузов «под ключ» с документальным и
                таможенным сопровождением, внутрипортовым экспедированием, <br>
                обслуживанием на складах в странах отправления, прибытия и
                транзита,<br> страхованием и другими услугами.</p>
            </div>
            <div class="col m-auto">
              <p>Стоимость перевозкой морским транспортом зависит от многих
                факторов,<br>
                мы предлагаем самые выгодные ставки и комфортные условия.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
