{% extends "base.html" %}
{% load static %}
{% block title %}
VIC || Выкуп товара в Китае
{% endblock %}
{% block content %}
<div class="buyout_page">
  <div class="container-fluid">
    <div class="buy-top">
      <div class="row row-cols-auto">
        <img class="dollars" src="{% static 'img/buyout/dollars.png' %}">
        <div class="col m-auto">
          <h1>выкуп<br>
            товара<br>
            в китае
          </h1>
        </div>
        <div class="col m-auto">
          <p>Выкуп товаров нередко вызывает проблемы<br>
            у предпринимателя в начале работы с Китаем.<br>
            Существуют риски самостоятельного поиска:
          <ul class="disadvantage-list">
            <li><a href="">Завышенная стоимость</a></li>
            <li><a href="">Возможность мошенничества</a></li>
            <li><a href="">Некачественный товар</a></li>
            <li><a href="">Неверное количество товара</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="buy-mid">
      <div class="row row-cols-auto">
        <div class="heading">
          <h1 class="mid-h">
            Одна из главных задач VIC
          </h1>
        </div>
      </div>
      <div class="row row-cols-auto">
        <div class="col">
          <p class="description-buy">
              Одна из главных задач VIC –<br>
              упростить для наших клиентов выкуп и доставку товаров из Китая.
              <br>
              Наши менеджеры проведут переговоры с поставщиком для получения
              <br>
              лучшей цены, у нас крупная база собственных проверенных
              поставщиков.<br>
              Мы поможем заказать образцы товара перед оформлением крупного
              заказа.<br>
              А также наши сотрудники в Китае смогут проверить качество и<br>
              количество товара при поступлении на наш склад.
            </p>
        </div>
        <div class="col m-auto">
          <img class='logistic' src="{% static 'img/buyout/logistic_2.png' %}">
        </div>
      </div>
    </div>
    <div class="buy-low">
      <div class="row row-cols-auto">
        <div class="col m-auto">
          <img src="{% static 'img/buyout/l1.svg' %}"
                 alt="">
        </div>
        <div class="col m-auto">
          <img src="{% static 'img/buyout/l2.svg' %}"
               alt="">
        </div>
        <div class="col m-auto">
          <img src="{% static 'img/buyout/l3.svg' %}"
               alt="">
        </div>
        <div class="col m-auto">
          <img src="{% static 'img/buyout/l4.svg' %}"
               alt="">
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
